/* common styles & utilities */
body{
    font-family: 'Poppins', sans-serif; 
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #fff;
    margin-bottom: 21px;
    border-radius: 5px;
    width: 870px;
    padding: 30px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/* top players style */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    font-weight: 500;
    margin-top: 3px;
    margin-bottom:40px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
    font-weight: 500;
}

/* ---------top blog styles--------- */
.blogs{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-column-gap:26px;
    grid-row-gap:26px;
}
.blog{
    display: flex;
}
.thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 6px;
}
.blog-author{
    color: #9F9F9F;
    font-weight: 400;
    font-size: 16px;
    margin-top: 6px;
}
.blog-author a{
    color: #562EFF;
    font-weight: 400;
    font-size: 16px;    
}

/* -----
courses styles
----------- */
.courses{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-column-gap:24px;

}
.course{
    Width:252.42px;
    Height:269.79px;
    background: #fff;
    padding: 13px 0px 26px 12px;
    border-radius: 15px;
    border:1px solid #fff;
    box-shadow: 0px 5.34229px 13.3557px black;
}
.course-banner img{
    width: 224px;
    height: 104px;
}
.course-title{
    font-weight: 500;
    font-size: 20.0336px;
}
.course-author{
    font-weight: 400;
    font-size: 14.6913px;
    color: #ED6B4F;
}
.course-info{
    display: flex;
    align-items: center;
}
.fa-star{
    font-size: 12px;
}
.filled{
    color: #FFC014;
}
.empty{
    color: #AEAEAE;
    opacity: 0.25;
}
.rating-point{
    font-weight: 400;
    color: #A2A2A2;
    font-size: 14.6913px;
    margin:0;
    margin-top:5px;
    margin-left: 10px;
    margin-right: 30px;
}

.clock{
    font-weight: 600;
    font-size: 14.6913px;
    color: #FF4A60;
    background: #FEE5DF;
    border-radius: 14.6913px;
    padding: 5px;
}
/*-------
 Media Quary
 ============ */

 /* for mobile devices */

 @media only screen and (max-width:688px) {
     .container{
         width: 100%;
     }
     .players , .blogs , .courses{
         grid-template-columns: repeat(1, 1fr);
         /* justify-items: center; */
     }
     .player {
         flex-direction: column;
         align-items: center;
     }
     .blog{
        flex-direction: column;
     }
     .courses{
         justify-items: center;
     }
     .course{
         margin-top: 30px;
     }   
 }
 /* -------
 tablet devices
 --------- */
 @media only screen and (min-width:689px) and (max-width:991px){
    .container{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
        /* justify-items: center; */
    }
    .player{
        flex-direction: column;
    }
    .blogs{
        padding: 0px 20px;
    }
    .courses{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .course{
        margin-top: 20px;
    }
 }




